<!-- Formulario de Filtro -->
<div class="filter-container">
  <div class="select">
    <mat-form-field>
      <mat-label>Filtro:</mat-label>
      <mat-select [(value)]="selectedFilter" class="custom-select">
        <mat-option *ngFor="let key of filterKeys" [value]="key">
          {{ key.toUpperCase() }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-form-field class="example-full-width">
    <mat-label>Valor:</mat-label>
    <input matInput placeholder="Ingrese el valor..." [(ngModel)]="filterTitle">
  </mat-form-field>
</div>

<!-- Sección de Energías -->
<h2>Energías Disponibles</h2>
<div class="card-container">
  <mat-card class="card" *ngFor="let energia of filteredEnergies | ordenarCoste">
    <img mat-card-image [src]="energia.img" [alt]="energia.titulo" class="card-img-top">
    <mat-card-content>
      <h5 mat-card-title>{{ energia.titulo }}</h5>
      <h6 mat-card-subtitle>{{ energia.subtitulo }}</h6>
      <p class="card-text">{{ energia.descripcion }}</p>
      <ul>
        <li><strong>Coste de uso:</strong> {{ energia.costoDeUso }}</li>
        <li><strong>Coste aproximado en 12 horas/día y entre {{ energia.duracion }}:</strong>
            {{ energia | calcularGasto }}</li>
        <li><strong>Total de emisiones de Co2 anuales:</strong>
            {{ energia | calcularAhorroCo2:' ' }}</li>
        <li><strong>Coste de instalación:</strong> {{ energia.costoDeInstalacion }}</li>
        <li><strong>Años de duración:</strong> {{ energia.duracion }}</li>
        <li><strong>Emisiones de CO2:</strong> {{ energia.emisionesCo2 }}</li>
        <li><strong>Continente con mayor producción:</strong> {{ energia.continenteMaxProduccion }}</li>
        <li><strong>Continente con menor producción:</strong> {{ energia.continenteMinProduccion }}</li>
        <li><strong>País mayor producción:</strong> {{ energia.paisMaxProduccion }}</li>
        <li><strong>País menor producción:</strong> {{ energia.paisMinProduccion }}</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
