<!-- Footer -->
<footer class="bg-light py-4 mt-5" >
  <div class="container-fluid">
    <div class="row" style="margin-left: 100px;">
      <div class="col-md-4">
        <p><b>EcoLost</b></p>
        <p class="text-muted">info&#64;ecolost.es</p>
        <p class="text-muted">Carrer Aigua 616</p>
      </div>

      <div class="col-md-4">
      </div>

      <div class="col-md-3" style="text-align: center;">
        <h5><i>Para aquellos perdidos en qué energía usar. <br><br>Asegurándonos primero de tu bienestar.</i></h5>
        <br><br>
        <img src="./assets/images/logo.svg" width="80" style="border-radius: 50%;">
      </div>
    </div>
    <div class="text-center mt-3">
      <p class="text-muted">© 2024 EcoLost. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>