<body style="margin: 0; padding: 0; font-family: 'Montserrat', sans-serif; background-image: url('./assets/images/bannerFormulario.webp'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 100vh; display: flex; justify-content: center; align-items: center;">

  <div class="container mt-5">
    <h1 class="text-center mb-4">Formulario de Contacto</h1>
    <form>
      <div class="mb-3">
        <label for="name" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="name" placeholder="Introduce tu nombre">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Asunto:</label>
        <input type="email" class="form-control" id="email" placeholder="Escribe el asunto">
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Mensaje:</label>
        <textarea class="form-control" id="message" rows="4" placeholder="Escribe tu mensaje aquí"></textarea>
      </div>
      
      <button type="submit" class="btn btn-primary w-100">Enviar</button>
    </form>
  </div>
</body>
