<body>
  <div class="container">
    <h1 class="form-title">Formulario de Contacto</h1> <!-- Ahora está fuera del mat-card -->
    
    <mat-card class="form-card">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" placeholder="Introduce tu nombre">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Asunto</mat-label>
          <input matInput formControlName="subject" placeholder="Escribe el asunto">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Mensaje</mat-label>
          <textarea matInput formControlName="message" rows="4" placeholder="Escribe tu mensaje aquí"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="full-width" [disabled]="contactForm.invalid">
          Enviar
        </button>
      </form>
    </mat-card>
  </div>
</body>