<mat-toolbar>
  <!--<img src="/assets/images/logo.svg" alt="EcoLost Logo" class="logo-img"> -->
  <span class="logo">EcoLost</span>

  <!-- Espaciador para alinear los botones a la derecha -->
  <span class="spacer"></span>

  <!-- Botones de navegación para pantallas grandes -->
  <div class="nav-links">
    <button mat-button [routerLink]="'/'">añadir equipos</button>
    <button mat-button [routerLink]="'/emparejamiento'">Emparejamiento</button>
    <button mat-button [routerLink]="'/resultado'">Sobre Nosotros</button>
    <button mat-button [routerLink]="'/ejercicio2'">ejercicio2</button>


  </div>


