<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <!-- Logo como imagen -->
    <a class="navbar-brand" href="#">
      <img
      src="assets/images/logo.svg"
      width="40"
      height="40"
      class="d-inline-block align-text-top"
    />
    
    
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Elementos del menú -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Tipos de Energía -->
        <li class="nav-item">
          <a class="nav-link" href="#">Tipos de Energía</a>
        </li>

        <!-- Sobre Nosotros -->
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre Nosotros</a>
        </li>

        <!-- Contacto -->
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
