<mat-toolbar>
  <!--<img src="/assets/images/logo.svg" alt="EcoLost Logo" class="logo-img"> -->
  <span class="logo">EcoLost</span>

  <!-- Espaciador para alinear los botones a la derecha -->
  <span class="spacer"></span>

  <!-- Botones de navegación para pantallas grandes -->
  <div class="nav-links">
    <button mat-button [routerLink]="'/'">Tipos de Energía</button>
    <button mat-button [routerLink]="'/table'">Tabla de energías</button>
    <button mat-button [routerLink]="'/about-us'">Sobre Nosotros</button>
    <button mat-button [routerLink]="'/form'">Contacto</button>
  </div>

  <!-- Menú hamburguesa en pantallas pequeñas -->
  <button mat-icon-button class="menu-button" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- Menú desplegable en móviles -->
<div class="mobile-menu" *ngIf="menuOpen">
  <button mat-button [routerLink]="'/'">Tipos de Energía</button>
  <button mat-button [routerLink]="'/table'">Tabla de energías</button>
  <button mat-button [routerLink]="'/about-us'">Sobre Nosotros</button>
  <button mat-button [routerLink]="'/form'">Contacto</button>
</div>
